*{
	margin: 0;
	padding:0;
	/*font-family: 'Comforter', cursive;*/	

}

#banner{
	background: url(images/page-bg.jpg);
	background-size: cover;
	background-position: center;
	height: 200vh;
}

.banner-text {
	text-align: center;
	color: #000;
	padding-top: 100px;
}

.banner-text h1{
	font-family: none;
	font-style: bold;
	font-size: 75px;
}
.banner-text p{
	font-family: 'Comforter', cursive;
	font-size: 65px;
}

.banner-btn {
	margin: 70px auto 0;
}

.banner-btn a {
	width: 150px;
	text-decoration: none;
	display: inline-block;
	margin: 0 10px;
	padding:12px 0;
	color: #fff;
	border: .5px solid 	#fff;
	position: relative;
	z-index: 1;
}

.banner-btn a span{
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	z-index: -1;
	transition: 0.5s;
}

.banner-btn a:hover span{
	width: 100%;
} 

.banner-btn a:hover{
	color: #000;
} 


/*gallery*/
.container{
	max-width: auto;
	height: 100%;
	margin: auto; 
	overflow: auto;
	padding: 5px; 
	
}

.gallery{
	margin: 20px;
	margin-left: 155px;
	float: left;
	width: 200px;
	height:350px;
	padding-right: 47px;
	background:  #fff;
}
.gallery img{
	width:200px;
	height: 250px;
	float: left;
	margin-right: 15px;
}
.desc{
	padding: 1px;
	margin-left: 50px;
	margin-right: 10px;
	text-align:center;
	color: #000;
	font-size:17px;
}

.sideNav {
	width: 100%;
	height: 7vh;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 10px;
	z-index: 2;
	padding-top: 10px;
	border: .5px solid #000;
	background: url(images/page-bg.jpg);
}


nav ul{
	list-style: none; 
	margin-top: 5pxpx;
	display: inline-block;
	margin-left: 1000px;
	padding: 0 0px;
	color: #000;
	position: relative left;
}

nav ul li{
	list-style: none; 
	margin: 20px 10px;
	display: inline-block;
	margin: 0 0px;
	padding: 0 0px;
	color: #fff;
	position: relative left;
}

nav ul li a{
	width: 80px;
	text-decoration: none;
	display: inline-block;
	margin: 0 5px;
	padding:10px 0;
	color: #fff;
	border: .5px solid 	#fff;
	position: relative;
	z-index: 2;
	text-align: center;

}

.sideNav li a span{
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	z-index: -2;
	transition: 0.5s;
}

.sideNav li a:hover span{
	width: 100%;
	color: #fff;
} 

.sideNav li a:hover{
	color: #000;
} 

















	/*footer*/
div.bottom {
	background: url(images/page-bg.jpg);
}

div.bottom .copyright {
	margin: auto;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	max-width: 100%;
}

div.bottom .copyright p {
	text-align: center;
	color: #fff;
}